<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!--<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">-->
<link rel="import" href="../../bower_components/titanium-address-input/titanium-address-input.html">
<link rel="import" href="../shared-styles.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="alta-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">
        <div class="col-sm-15 col-md-15">
          <div class="row">
            <div class="col-sm-8">
              <h3><b>¡Voy a hacerme usuario de TechU-JCG App!</b></h3>
            </div>
          </div>
          <br>
          <div class="row">
              <p class="col-sm-8">Por favor, introduce la siguiente información</p>
          </div>
          <div class="row">
            <div class="col-sm-8 ">
              <h4><b>Datos Personales</b></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!--<label for="inputText">Tu usuario (NIF)</label>
              <input type="text" id="cod_usuario" class="form-control" placeholder="Tu usuario (NIF)" value="{{cod_usuario::input}}" required autofocus>-->
              <paper-input type="text" label="Tu usuario (NIF)" id="id_cod_usuario" value="{{cod_usuario::input}}"
                            error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
            <div class="col-sm-4">
              <paper-input type="text" label="Nombre" value="{{nombre::input}}"
                            error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <paper-input type="text" label="Primer apellido" value="{{apellido1::input}}"
                            error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
            <div class="col-sm-4">
              <paper-input type="text" label="Segundo apellido" value="{{apellido2::input}}"
                            error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-8">
              <h4><b>Datos de Contacto</b></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <paper-input type="tel" label="Móvil" value="{{movil::input}}"
                            maxlength="9" error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
            <div class="col-sm-4">
              <paper-input type="mail" label="Email" value="{{email::input}}"
                            error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <paper-input type="text" label="Dirección" value="{{direccion::input}}"
                            error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-8">
              <h4><b>Claves de Acceso/Operaciones</b></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <paper-input type="password" label="Clave de acceso (max 6 caracteres)" value="{{clave_acceso::input}}"
                            maxlength="6" allowed-pattern="[a-zA-Z0-9]" error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
            <div class="col-sm-4">
              <paper-input type="password" label="Clave de operaciones (max 6 caracteres)" value="{{clave_operaciones::input}}"
                            maxlength="6" allowed-pattern="[a-zA-Z0-9]" error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <br>
          <div class="row">
            <p class="col-sm-8">Para poder recuperar tu clave de acceso en caso de olvido</p>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <paper-dropdown-menu label="Pregunta Seguridad" value="{{pregunta_clave_acceso}}"
                error-message="Rellene este campo" required auto-validate>
                <paper-listbox slot="dropdown-content" selected="0">
                  <paper-item>Color favorito</paper-item>
                  <paper-item>Nombre mascota</paper-item>
                  <paper-item>Ultima ciudad visitada</paper-item>
                </paper-listbox>
              </paper-dropdown-menu>
            </div>
            <div class="col-sm-4">
              <paper-input type="text" label="Respuesta Seguridad" value="{{respuesta_clave_acceso::input}}"
                            error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <br>
          <div class="row" id="errorAlta" style="display:none">
            <div class="col-sm-4 col-sm-offset-4">
              <span style="color:red;text-align:center;">{{errorMsgAlta}}</span>
              <br><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-3">
              <paper-button on-click="alta" class="btn btn-success btn-md" raised>Finalizar</paper-button>
              <a href="/login" class="btn btn-default btn-md" raised>INICIO</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <iron-ajax
      id="doAlta"
      url="http://localhost:3000/APIProyectoJCG/v1/appJCGUsuarios"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse" />

  </template>

  <script>
    class AltaUsuario extends Polymer.Element {

      static get is() {
        return 'alta-usuario';
      }

      static get properties() {
        return {
          cod_usuario: {
            type: String
          },
          nombre: {
            type: String
          },
          apellido1: {
            type: String
          },
          apellido2: {
            type: String
          },
          movil: {
            type: String
          },
          email: {
            type: String
          },
          direccion: {
            type: String
          },
          clave_acceso: {
            type: String
          },
          clave_operaciones: {
            type: String
          },
          pregunta_clave_acceso: {
            type: String
          },
          respuesta_clave_acceso: {
            type: String
          },
          errorMsgAlta: {
            type: String
          }
        };
      }

      alta () {
        //console.log("El usuario ha pulsado el botón");
        var usuario = this.$.id_cod_usuario.value.toUpperCase();
        if (usuario!=""){
          var altaData ={
            "cod_usuario" : usuario,
            "nombre" : this.nombre,
            "apellido1" : this.apellido1,
            "apellido2" : this.apellido2,
            "movil" : this.movil,
            "email" : this.email,
            "direccion" : this.direccion,
            "clave_acceso" : this.clave_acceso,
            "clave_operaciones" : this.clave_operaciones,
            "pregunta_clave_acceso" : this.pregunta_clave_acceso,
            "respuesta_clave_acceso" : this.respuesta_clave_acceso
          };
          this.$.doAlta.body = JSON.stringify(altaData);
          this.$.doAlta.generateRequest();
          //console.log("Peticion enviada");
        }else{
          this.$.id_cod_usuario.focus();
        }
      }
      manageAJAXResponse (data) {
        //console.log("showData");
        var respuesta = data.detail.response.error;
        //console.log("Respuesta: "+data.detail.response.error);
        if (respuesta == "0"){
          this.$.errorAlta.style.display = "none";
          window.location = "fin-operacion-usuario";
        }else{
          this.$.errorAlta.style.display = "block";
          this.errorMsgAlta = data.detail.response.msg;
          this.$.id_cod_usuario.focus();
        }
      }

/*      showError (error) {
        console.log("Hubo error");
        console.log(error);
      }
*/  }

    window.customElements.define(AltaUsuario.is, AltaUsuario);
  </script>

  <!--
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  -->
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</dom-module>
