<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../shared-styles.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<dom-module id="baja-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">
        <div class="col-sm-15 col-md-15">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
              <h3><b>Lamentamos su marcha de TechU-JCG App</b></h3>
            </div>
          </div>
          <br><br>
          <div class="row">
              <p class="col-sm-6 col-sm-offset-4">Por favor, introduce tus credenciales de acceso</p>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-4">
              <!--<label for="inputText">Tu usuario (NIF)</label>
              <input type="text" id="cod_usuario" class="form-control" placeholder="Tu usuario (NIF)" value="{{cod_usuario::input}}" required autofocus>-->
              <paper-input type="text" id="id_cod_usuario" label="Tu usuario (NIF)" value="{{cod_usuario::input}}"
                            error-message="Rellene este campo" required auto-validate>
              </paper-input>
              <!--<label for="inputPassword">Tu clave de acceso</label>
              <input type="password" id="clave_acceso" class="form-control" placeholder="Tu clave de acceso" value="{{clave_acceso::input}}" required>-->
              <paper-input type="password" id="id_clave_acceso" label="Tu clave de acceso  (max 6 caracteres)" value="{{clave_acceso::input}}"
                            maxlength="6" allowed-pattern="[a-zA-Z0-9]" error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <br>
          <div class="row" id="errorBaja" style="display:none">
            <div class="col-sm-4 col-sm-offset-4">
              <span style="color:red;text-align:center;">{{errorMsgBaja}}</span>
              <br><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-4">
              <paper-button on-click="baja" class="btn btn-danger btn-md" raised>Finalizar</paper-button>
              <a href="/login" class="btn btn-default btn-md" raised>INICIO</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <iron-ajax
      id="doBaja"
      url="http://localhost:3000/APIProyectoJCG/v1/appJCGUsuarios/bajaUsuario"
      method="put"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse" />

  </template>

  <script>
    class BajaUsuario extends Polymer.Element {
      static get is() {
        return 'baja-usuario';
      }

      static get properties() {
        return {
          cod_usuario: {
            type: String
          },
          clave_acceso: {
            type: String
          },
          errorMsgBaja: {
            type: String
          }
        };
      }

      baja () {
        //console.log("El usuario ha pulsado el botón");
        var usuario = this.$.id_cod_usuario.value.toUpperCase();
        var pwd = this.$.id_clave_acceso.value;
        //console.log("Usuario: "+usuario);
        if (usuario!="" && pwd!=""){
          var bajaData ={
            "cod_usuario" : usuario,
            "clave_acceso" : pwd
          };
          this.$.doBaja.body = JSON.stringify(bajaData);
          this.$.doBaja.generateRequest();
          //console.log("Peticion enviada");
        }else{
          if (usuario==""){
            this.$.id_cod_usuario.focus();
          }else{
            this.$.id_clave_acceso.focus();
          }
        }
      }
      manageAJAXResponse (data) {
        //console.log("manageAJAXResponse");
        //console.log(data.detail.response);
        //this.logged = true;
        var respuesta = data.detail.response.error;
        //console.log("Respuesta: "+data.detail.response.error);
        if (respuesta == "0"){
          this.$.errorBaja.style.display = "none";
          window.location = "fin-operacion-usuario";
        }else{
          this.$.errorBaja.style.display = "block";
          this.errorMsgBaja = data.detail.response.msg;
          if (respuesta == "400"){
            this.$.id_cod_usuario.focus();
          }else if (respuesta == "401"){
            this.$.id_clave_acceso.focus();
          }
        }
      }
    }

    window.customElements.define(BajaUsuario.is, BajaUsuario);
  </script>

  <!--
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  -->
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</dom-module>
