<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="login-usuario.html">
<link rel="import" href="alta-usuario.html">
<link rel="import" href="baja-usuario.html">
<link rel="import" href="reactivacion-usuario.html">
<link rel="import" href="fin-operacion-usuario.html">

<link rel="import" href="../private-app/my-app.html">
<!--<link rel="import" href="../private-app/my-view1.html">
<link rel="import" href="../private-app/my-view4.html">
<link rel="import" href="../private-app/my-operacion-cajero.html">
<link rel="import" href="../private-app/my-envio-dinero.html">
<link rel="import" href="../private-app/my-view3.html">
<link rel="import" href="../private-app/my-alta-cuenta.html">
<link rel="import" href="../private-app/my-baja-cuenta.html">
<link rel="import" href="../private-app/my-view2.html">
<link rel="import" href="../private-app/my-datos-contacto.html">
<link rel="import" href="../private-app/my-gestion-claves.html">
<link rel="import" href="../private-app/my-view404.html">-->

<dom-module id="home-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!--<h2>Parametros home-app</h2>
    <h3>route.path: {{route.path}}</h3>
    <h3>tail.path: {{tail.path}}</h3>
    <h3>data.page: [[data.page]]</h3>
    <h3>rootPath: [[rootPath]]</h3>-->

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <iron-pages selected="[[data.page]]" attr-for-selected="page">
      <!-- PARTE PUBLICA -->
      <login-usuario page=""></login-usuario>
      <login-usuario page="login"></login-usuario>
      <alta-usuario page="alta"></alta-usuario>
      <baja-usuario page="baja"></baja-usuario>
      <reactivacion-usuario page="reactivacion"></reactivacion-usuario>
      <fin-operacion-usuario page="fin-operacion-usuario"></fin-operacion-usuario>
      <!-- PARTE PRIVADA -->
      <my-app page="app" route={{tail}} cod_usuario="{{cod_usuario}}"></my-app>
      <!--<my-view1 page="view1"></my-view1>
      <my-view4 page="view4"></my-view4>
      <my-operacion-cajero page="operacion-cajero"></my-operacion-cajero>
      <my-envio-dinero page="envio-dinero"></my-envio-dinero>
      <my-view3 page="view3"></my-view3>
      <my-alta-cuenta page="alta-cuenta"></my-alta-cuenta>
      <my-baja-cuenta page="baja-cuenta"></my-baja-cuenta>
      <my-view2 page="view2"></my-view2>
      <my-datos-contacto page="datos-contacto"></my-datos-contacto>
      <my-gestion-claves page="gestion-claves"></my-gestion-claves>
      <my-view404 page="view404"></my-view404>-->
    </iron-pages>

  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class HomeApp extends Polymer.Element {
      static get is() {
        return 'home-app';
      }
      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true
            //observer: '_pageChanged'
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          cod_usuario: {
            type: String
          }
        };
      }

/*      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login-usuario';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }
      */
    }

    window.customElements.define(HomeApp.is, HomeApp);
  </script>
</dom-module>
