<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../shared-styles.html">


<dom-module id="login-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">
        <div class="col-sm-15 col-md-15">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
              <h3><b>Bienvenido a TechU-JCG App</b></h3>
            </div>
          </div>
          <br><br>
          <div class="row">
              <p class="col-sm-5 col-sm-offset-4">Por favor, introduce tus credenciales de acceso</p>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <!--<label for="inputText">Tu usuario (NIF)</label>
              <input type="text" id="cod_usuario" class="form-control" placeholder="Tu usuario (NIF)" value="{{cod_usuario::input}}" required autofocus>-->
              <paper-input type="text" id="id_cod_usuario" label="Tu usuario (NIF)" value="{{cod_usuario::input}}"
                           error-message="Rellene este campo" required auto-validate>
              </paper-input>
              <!--<label for="inputPassword">Tu clave de acceso</label>
              <input type="password" id="clave_acceso" class="form-control" placeholder="Tu clave de acceso" value="{{clave_acceso::input}}" required>-->
              <paper-input type="password" id="id_clave_acceso" label="Tu clave de acceso (max 6 caracteres)" value="{{clave_acceso::input}}"
                           maxlength="6" allowed-pattern="[a-zA-Z0-9]" error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <br>
          <div class="row" id="errorLogin" style="display:none">
            <div class="col-sm-4 col-sm-offset-4">
              <span style="color:red;text-align:center;">{{errorMsgLogin}}</span>
              <br><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <button on-click="login" class="btn btn-success btn-lg btn-block" raised>Entrar</button>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <p class="text-center">¿No eres usuario?</p>
              <a href="/alta" class="btn btn-lg btn-primary btn-block">Hacerme usuario</a>
            </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-4">
              <p class="text-center">
                ¿Olvidaste tu clave de acceso?. Pincha <a href="/reactivacion">aquí</a>
                <br><br><br><a href="/baja" style="color:red;text-align:right">¿Quieres darte de baja?</a>
                <!--<a href="/pruebas-formulario" style="color:red">Pruebas</a>-->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/APIProyectoJCG/v1/login/"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse" />
  </template>

<script>
class LoginUsuario extends Polymer.Element {

  static get is() {
    return 'login-usuario';
  }

  static get properties() {
    return {
      cod_usuario: {
        type: String
      },
      clave_acceso: {
        type: String
      },
      errorMsgLogin: {
        type: String
      }
    };
  }

  ready() {
    //console.log("ready LoginUsuario");
    super.ready();
    var usuarioLog = window.sessionStorage.getItem('usuario')
    if (usuarioLog!=""){
      //console.log("Hay una sesion del usuario "+usuarioLog+" almacenada");
    }else{
      //console.log("No hay sesion");
      window.sessionStorage.setItem('usuario','');
    }
  }

  login () {
    //console.log("El usuario ha pulsado el botón de Entrar");
    var usuario = this.$.id_cod_usuario.value.toUpperCase();
    var pwd = this.$.id_clave_acceso.value;
    if (usuario!="" && pwd!=""){
      var loginData ={
        "cod_usuario" : usuario,
        "clave_acceso" : pwd
      };
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      //console.log("Peticion enviada");
    }else{
      if (usuario==""){
        this.$.id_cod_usuario.focus();
      }else{
        this.$.id_clave_acceso.focus();
      }
    }
  }
  manageAJAXResponse (data) {
    //console.log("manageAJAXResponse");
    //console.log(data.detail.response);
    //this.logged = true;
    var respuesta = data.detail.response.error;
    //console.log("Respuesta: "+data.detail.response.error);
    if (respuesta == "0"){
      this.$.errorLogin.style.display = "none";
      window.sessionStorage.setItem('usuario',data.detail.response.cod_usuario)
      window.sessionStorage.setItem('token',data.detail.response.token)
      window.location = "/app/view0";
    }else{
      this.$.errorLogin.style.display = "block";
      this.errorMsgLogin = data.detail.response.msg;
      if (respuesta == "400"){
        this.$.id_cod_usuario.focus();
      }else if (respuesta == "401"){
        this.$.id_clave_acceso.focus();
      }
    }
  }

  /*showError (error) {
    console.log("showError");
    console.log(error);
  }*/

}
window.customElements.define(LoginUsuario.is, LoginUsuario);
</script>

<!--
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</dom-module>
