<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../shared-styles.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="reactivacion-usuario">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">
        <div class="col-sm-15 col-md-15">
          <div class="row">
            <div class="col-sm-8">
              <h3><b>Reactive su clave de acceso</b></h3>
            </div>
          </div>
          <br><br>
          <div class="row">
              <p class="col-sm-8">Por favor, introduce la siguiente información</p>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <paper-input type="text" label="Tu usuario (NIF)" id="id_cod_usuario" value="{{cod_usuario::input}}"
                            error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-4">
              <paper-dropdown-menu label="Pregunta Seguridad" value="{{pregunta_clave_acceso}}"
                error-message="Rellene este campo" required auto-validate>
                <paper-listbox slot="dropdown-content" selected="0">
                  <paper-item>Color favorito</paper-item>
                  <paper-item>Nombre mascota</paper-item>
                  <paper-item>Ultima ciudad visitada</paper-item>
                </paper-listbox>
              </paper-dropdown-menu>
            </div>
            <div class="col-sm-4">
              <paper-input type="text" id="respuesta_clave_acceso" label="Respuesta Seguridad" value="{{respuesta_clave_acceso::input}}"
                            error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <paper-input type="password" id="id_clave_acceso_nueva" label="NUEVA clave de acceso (max 6 caracteres)" value="{{clave_acceso_nueva::input}}"
                            maxlength="6" allowed-pattern="[a-zA-Z0-9]" error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <br>
          <div class="row" id="errorReactivacion" style="display:none">
            <div class="col-sm-4 col-sm-offset-4">
              <span style="color:red;text-align:center;">{{errorMsgReactivacion}}</span>
              <br><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-sm-offset-2">
              <paper-button on-click="modi" class="btn btn-success btn-md" raised>Finalizar</paper-button>
              <a href="/login" class="btn btn-default btn-md" raised>INICIO</a>
            </div>
          </div>
      </div>
    </div>

    <iron-ajax
      id="doModi"
      url="http://localhost:3000/APIProyectoJCG/v1/appJCGUsuarios/reactivaClaveUsuario"
      method="put"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse" />

  </template>

  <script>
    class ReactivacionUsuario extends Polymer.Element {
      static get is() {
        return 'reactivacion-usuario';
      }

      static get properties() {
        return {
          cod_usuario: {
            type: String
          },
          clave_acceso_nueva: {
            type: String
          },
          pregunta_clave_acceso: {
            type: String
          },
          respuesta_clave_acceso: {
            type: String
          },
          errorMsgReactivacion: {
            type: String
          }
        };
      }

      modi () {
        //console.log("El usuario ha pulsado el botón");
        var usuario = this.$.id_cod_usuario.value.toUpperCase();
        var pwd = this.$.id_clave_acceso_nueva.value;
        if (usuario!="" && pwd!=""){
          var modiData ={
            "cod_usuario" : usuario,
            "clave_acceso_nueva" : pwd,
            "pregunta_clave_acceso" : this.pregunta_clave_acceso,
            "respuesta_clave_acceso" : this.respuesta_clave_acceso
          };
          this.$.doModi.body = JSON.stringify(modiData);
          this.$.doModi.generateRequest();
          //console.log("Peticion enviada");
        }else{
          if (usuario==""){
            this.$.id_cod_usuario.focus();
          }else{
            this.$.id_clave_acceso_nueva.focus();
          }
        }
      }
      manageAJAXResponse (data) {
        //console.log("manageAJAXResponse");
        //console.log(data.detail.response);
        //this.logged = true;
        var respuesta = data.detail.response.error;
        //console.log("Respuesta: "+data.detail.response.error);
        if (respuesta == "0"){
          this.$.errorReactivacion.style.display = "none";
          window.location = "fin-operacion-usuario";
        }else{
          this.$.errorReactivacion.style.display = "block";
          this.errorMsgReactivacion = data.detail.response.msg;
          if (respuesta == "400"){
            this.$.id_cod_usuario.focus();
          }else if (respuesta == "401"){
            this.$.id_clave_acceso_nueva.focus();
          }
        }
      }
    }

    window.customElements.define(ReactivacionUsuario.is, ReactivacionUsuario);
  </script>

  <!--
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  -->
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</dom-module>
