<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="import" href="my-view0.html">
<link rel="import" href="my-view1.html">
<link rel="import" href="my-movs-cuenta.html">
<link rel="import" href="my-view4.html">
<link rel="import" href="my-operacion-cajero.html">
<link rel="import" href="my-envio-dinero.html">
<link rel="import" href="my-view3.html">
<link rel="import" href="my-alta-cuenta.html">
<link rel="import" href="my-baja-cuenta.html">
<link rel="import" href="my-view2.html">
<link rel="import" href="my-datos-contacto.html">
<link rel="import" href="my-gestion-claves.html">
<link rel="import" href="my-view5.html">
<link rel="import" href="my-view404.html">
<link rel="import" href="my-fin-operacion.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none !important;
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        font-weight: bold;
        text-decoration: none;
      }
      .toolbar {
        background-color: #3272b5 !important;
      }
      .btn-link:hover {
        font-weight: bold !important;
        text-decoration: none !important;
      }
    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">


    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  -->
    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:opeName"
        data="{{data}}">
    </app-route>

  <app-drawer-layout fullbleed narrow="{{narrow}}">

      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar class="toolbar">
          <a name="view0" href="[[rootPath]]view0" class="btn btn-lg btn-link btn-block" data-toggle="tooltip" data-placement="top" title="Inicio">
            <span style="color:white">TechU-JCG App</span>
          </a>
        </app-toolbar>
        <iron-selector selected="{{data.opeName}}" attr-for-selected="name" class="drawer-list" role="navigation">
          <!--<button on-click="consultarCtas" class="btn btn-link btn-lg btn-block">
            Consultar
          </button>-->
          <a name="view1" href="[[rootPath]]view1" class="btn btn-link btn-lg btn-block">Consultar</a>
          <a name="view4" href="[[rootPath]]view4" class="btn btn-link btn-lg btn-block">Operar</a>
          <a name="view3" href="[[rootPath]]view3" class="btn btn-link btn-lg btn-block">Contratar</a>
          <a name="view2" href="[[rootPath]]view2" class="btn btn-link btn-lg btn-block">Perfil del Usuario</a>
          <a name="view5" href="[[rootPath]]view5" class="btn btn-link btn-lg btn-block">Divisas</a>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>¡Hola [[nombre]] [[apellido1]] [[apellido2]]!</div>
            <div>
              <button on-click="logout" class="btn btn-danger btn-lg btn-block" raised>Salir</button>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[selectedPage]]"
            attr-for-selected="name"
            role="main">

          <my-view0 name="/app/view0"></my-view0>

          <my-view1 name="/app/view1" on-myevent="processEvent"></my-view1>
          <my-movs-cuenta name="/app/movs-cuenta" id="receiver" cuenta_sel="{{cuenta_sel}}"></my-movs-cuenta>

          <my-view4 name="/app/view4"></my-view4>
          <my-operacion-cajero name="/app/operacion-cajero"></my-operacion-cajero>
          <my-envio-dinero name="/app/envio-dinero"></my-envio-dinero>

          <my-view3 name="/app/view3"></my-view3>
          <my-alta-cuenta name="/app/alta-cuenta"></my-alta-cuenta>
          <my-baja-cuenta name="/app/baja-cuenta"></my-baja-cuenta>

          <my-view2 name="/app/view2"></my-view2>
          <my-datos-contacto name="/app/datos-contacto" movil={{movil}} email={{email}} direccion={{direccion}}></my-datos-contacto>
          <my-gestion-claves name="/app/gestion-claves"></my-gestion-claves>

          <my-view5 name="/app/view5"></my-view5>

          <my-fin-operacion name="/app/fin-operacion"></my-fin-operacion>
          <my-view404 name="/app/view404"></my-view404>
          <my-pruebas name="/app/pruebas"></my-pruebas>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>

    <iron-ajax
      id="doConsultaUsuario"
      url="http://localhost:3000/APIProyectoJCG/v1/appJCGUsuarios/[[cod_usuario]]/[[token]]"
      handle-as="json"
      on-response="recogerDatosUsuario" />

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/APIProyectoJCG/v1/logout/"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError" />
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() {
        return 'my-app';
      }

      static get properties() {
        return {
          route: {
             type: Object,
             observer: '_pageChanged'
           },
           cod_usuario: {
             type: String,
             value: window.sessionStorage.getItem('usuario')
           },
           token: {
             type: String,
             value: window.sessionStorage.getItem('token')
           },
           movil: {
             type: String
           },
           email: {
             type: String
           },
           direccion: {
             type: String
           },
           nombre: {
             type: String
           },
           apellido1: {
             type: String
           },
           apellido2: {
             type: String
           }
         };
      }

      ready() {
        //console.log("ready MyApp");
        super.ready();
        var usuarioLog = window.sessionStorage.getItem('usuario');
        var tokenUsuarioLog = window.sessionStorage.getItem('token');
        if (usuarioLog!=null && usuarioLog!=""){
          //console.log("Hay una sesion del usuario "+usuarioLog+" almacenada y token:"+tokenUsuarioLog);
          var consultaUsuarioData ={
            "cod_usuario_Log" : usuarioLog,
            "token_log" : tokenUsuarioLog
          };
          this.$.doConsultaUsuario.body = JSON.stringify(consultaUsuarioData);
          this.$.doConsultaUsuario.generateRequest();
          //console.log("Peticion de consulta de usuario enviada");
        }else{
          //console.log("No hay sesion");
        }
      }

      recogerDatosUsuario (dataUsuario) {
        //console.log("Datos del usuario (Nombre):  "+data.detail.response.nombre);
        //console.log("Datos del usuario (Apellido1):  "+data.detail.response.apellido1);
        //console.log("Datos del usuario (Apellido2):  "+data.detail.response.apellido2);
        this.nombre = dataUsuario.detail.response.nombre;
        this.apellido1 = dataUsuario.detail.response.apellido1;
        this.apellido2 = dataUsuario.detail.response.apellido2;
        this.movil = dataUsuario.detail.response.movil;
        this.email = dataUsuario.detail.response.email;
        this.direccion = dataUsuario.detail.response.direccion;
      }

      processEvent(e){
        //console.log("Capturando evento del emisor");
        //console.log(e.detail.cuenta_sel);
        //this.$.receiver.cuenta_sel = e.detail.cuenta_sel;
        this.cuentasel = e.detail.cuenta_sel;
        var cuenta = e.detail.cuenta_sel;
        window.sessionStorage.setItem('cuenta',cuenta);
        window.location = "movs-cuenta";

      }

      /*static get observers() {
        return [
          '_pageChanged(data.opeName)'
        ];
      }*/

      _pageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        //console.log("_pageChanged : "+this.data.opeName);
        //this.selectedPage = this.data.opeName || 'view1';
        //console.log("route : "+this.route.path);
        var nameRuta = this.route.path;
        this.selectedPage = nameRuta;
        //console.log("this.selectedPage:"+this.selectedPage);

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      logout () {
        var usuarioLog = window.sessionStorage.getItem('usuario')
        //console.log("El usuario "+usuarioLog+" ha pulsado el botón de Salir");
        var logoutData ={
          "cod_usuario" : usuarioLog
        };
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
        //console.log("Peticion enviada");
      }

      manageAJAXResponse (data) {
        //console.log("manageAJAXResponse");
        //console.log(data.detail.response);
        //this.logged = false;
        window.sessionStorage.clear();
        window.location = "/login";
      }

      showError (error) {
        //console.log("showError");
        //console.log(error);
      }

    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</dom-module>
