<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="my-alta-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">

        <h4 class="mb-3">Contrate una nueva cuenta</h4>

        <iron-form>
        <div class="row">
          <div class="col-md order-md-1">
            <!--<div class="row">
              <div class="col-md-5 mb-3">
                <paper-input type="text" label="Usuario" value={{cod_usuario::input}} required></paper-input>
              </div>
            </div>-->
            <div class="row">
              <div class="col-md-2 mb-3">
                <paper-input type="text" label="Banco" value="{{banco_Cuenta}}" readonly></paper-input>
              </div>
              <div class="col-md-2 mb-3">
                <paper-dropdown-menu label="Tipo de Cuenta" id="id_tipo_Cuenta" value="{{tipo_Cuenta}}"
                                    error-message="Rellene este campo" required auto-validate>
                  <paper-listbox slot="dropdown-content" selected="0">
                    <paper-item>Personal</paper-item>
                    <paper-item>Ahorro</paper-item>
                    <paper-item>Credito</paper-item>
                    <paper-item>Menores</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <paper-input type="text" label="IBAN" id="id_IBAN_Cuenta" value={{IBAN::input}}
                             error-message="Rellene este campo" required auto-validate>
                </paper-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 mb-3">
                <paper-input type="text" label="Saldo" id="id_saldo_Cuenta" value={{saldo_Cuenta::input}}
                             error-message="Rellene este campo" required auto-validate>
                </paper-input>
              </div>
              <div class="col-md-2 mb-3">
                <paper-input type="text" label="Divisa" value="{{divisa_Cuenta}}" readonly>
                </paper-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 mb-3">
                <paper-button on-click="crearCuenta" class="btn btn-success btn-lg btn-block">Finalizar</paper-button>
              </div>
              <div class="col-md-2 mb-3">
                <a href="/app/view3" class="btn btn-secondary btn-lg btn-block">Volver</a>
              </div>
            </div>
          </div>
        </div>
      </iron-form>
    </div>
  </div>

    <iron-ajax
      id="doCrearCuenta"
      url="http://localhost:3000/APIProyectoJCG/v1/appJCGCuentas/[[cod_usuario]]/[[token]]"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError" />
  </template>

  <script>
    class MyAltaCuenta extends Polymer.Element {
      static get is() {
        return 'my-alta-cuenta';
      }
      static get properties() {
        return {
          cod_usuario: {
            type: String,
            value: window.sessionStorage.getItem('usuario')
          },
          token: {
            type: String,
            value: window.sessionStorage.getItem('token')
          },
          banco_Cuenta: {
            type: String,
            value: 'BBVA'
          },
          tipo_Cuenta: {
            type: String
          },
          IBAN: {
            type: String
          },
          divisa_Cuenta: {
            type: String,
            value: 'Euros'
          },
          saldo_Cuenta: {
            type: Number
          }
        };
      }

      crearCuenta () {
        var usuarioLog = window.sessionStorage.getItem('usuario')
        //console.log("El usuario "+usuarioLog+" va a contratar una cuenta");
        var tipo_new = this.$.id_tipo_Cuenta.value;
        var cuenta_new = this.$.id_IBAN_Cuenta.value;
        var saldo_new = this.$.id_saldo_Cuenta.value;
        if (tipo_new!="" && cuenta_new!="" && saldo_new!=""){
          var crearCuentaData ={
            "cod_usuario" : usuarioLog,
            "banco_Cuenta" : this.banco_Cuenta,
            "tipo_Cuenta" : this.tipo_Cuenta,
            "IBAN" : this.IBAN,
            "divisa_Cuenta" : this.divisa_Cuenta,
            "saldo_Cuenta" : this.saldo_Cuenta
          };
          this.$.doCrearCuenta.body = JSON.stringify(crearCuentaData);
          this.$.doCrearCuenta.generateRequest();
          //console.log("Peticion enviada");
        }else{
          if (tipo_new==""){
            this.$.id_tipo_Cuenta.focus();
          }else{
            if (IBAN_new==""){
              this.$.id_IBAN_Cuenta.focus();
            }else{
              if (saldo_new==""){
                this.$.id_saldo_Cuenta.focus();
              }
            }
          }
        }
      }

      manageAJAXResponse (data) {
        //console.log("showData");
        //console.log(data.detail.response);
        window.location = "/app/fin-operacion";
      }
      showError (error) {
        //console.log("Hubo error");
        //console.log(error);
      }

    }

    window.customElements.define(MyAltaCuenta.is, MyAltaCuenta);
  </script>
</dom-module>
