<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="my-baja-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">

        <h4 class="mb-3">Realice la baja de una de sus cuentas</h4>

        <iron-form>
        <div class="row">
          <div class="col-md order-md-1">
            <div class="row">
              <div class="col-md-4 mb-3">
                <paper-dropdown-menu label="Cuenta" id="id_Cuenta" value="{{IBAN}}"
                                  error-message="Rellene este campo" required auto-validate>
                  <paper-listbox slot="dropdown-content" selected="0">
                    <template is="dom-repeat" items="{{cuentasUsuario}}">
                      <paper-item>[[item.IBAN]]</paper-item>
                    </template>
                  </paper-listbox>
                </paper-dropdown-menu>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 mb-3">
                <paper-button on-click="eliminarCuenta" class="btn btn-success btn-lg btn-block">Finalizar</paper-button>
              </div>
              <div class="col-md-2 mb-3">
                <a href="/app/view3" class="btn btn-secondary btn-lg btn-block">Volver</a>
              </div>
            </div>
          </div>
        </div>
      </iron-form>
    </div>
  </div>

  <iron-ajax
    id="doConsultaCuentas"
    url="http://localhost:3000/APIProyectoJCG/v1/appJCGCuentas/[[cod_usuario]]/[[token]]"
    handle-as="json"
    on-response="showCuentas" />

  <iron-ajax
    id="doEliminarCuenta"
    url="http://localhost:3000/APIProyectoJCG/v1/appJCGCuentas/[[cod_usuario]]/[[IBAN]]/[[token]]"
    method="put"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError" />

  </template>

  <script>
    class MyBajaCuenta extends Polymer.Element {
      static get is() {
        return 'my-baja-cuenta';
      }
      static get properties() {
        return {
          cod_usuario: {
            type: String,
            value: window.sessionStorage.getItem('usuario')
          },
          token: {
            type: String,
            value: window.sessionStorage.getItem('token')
          },
          IBAN: {
            type: String
          },
          cuentasUsuario: {
            type: Array
          }
        };
      }

      ready() {
        //console.log("ready MyBajaCuenta");
        super.ready();
        var usuarioLog = window.sessionStorage.getItem('usuario')
        var tokenUsuarioLog = window.sessionStorage.getItem('token');
        if (usuarioLog!=null && usuarioLog!=""){
          //console.log("Hay una sesion del usuario "+usuarioLog+" almacenada");
          var consultaCtasData ={
            "cod_usuario" : usuarioLog,
            "token_log" : tokenUsuarioLog
          };
          this.$.doConsultaCuentas.body = JSON.stringify(consultaCtasData);
          this.$.doConsultaCuentas.generateRequest();
          //console.log("Peticion enviada");
        }else{
          //console.log("No hay sesion");
        }
      }

      showCuentas (data) {
        //console.log("Listado de cuentas");
        this.cuentasUsuario = data.detail.response;
      }

      eliminarCuenta () {
        var usuarioLog = window.sessionStorage.getItem('usuario')
        //console.log("El usuario "+usuarioLog+" va a dar de baja una cuenta");
        var cuenta_new = this.$.id_Cuenta.value;
        if (cuenta_new!=""){
          var eliminarCuentaData ={
            "cod_usuario" : usuarioLog,
            "IBAN" : this.IBAN
          };
          this.$.doEliminarCuenta.body = JSON.stringify(eliminarCuentaData);
          this.$.doEliminarCuenta.generateRequest();
          //console.log("Peticion enviada");
        }else{
          this.$.id_Cuenta.focus();
        }
      }
      manageAJAXResponse (data) {
        //console.log("showData");
        //console.log(data.detail.response);
        window.location = "/app/fin-operacion";
      }
      showError (error) {
        //console.log("Hubo error");
        //console.log(error);
      }
    }

    window.customElements.define(MyBajaCuenta.is, MyBajaCuenta);
  </script>
</dom-module>
