<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<!--<link rel="import" href="../../bower_components/titanium-address-input/titanium-address-input.html">
<link rel="import" href="../../bower_components/address-autocomplete/address-autocomplete.html">
<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>-->

<link rel="import" href="../shared-styles.html">

<dom-module id="my-datos-contacto">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">

        <h4 class="mb-3">Actualice sus datos de contacto</h4>

        <iron-form>
        <div class="row">
          <div class="col-md order-md-1">
            <div class="row">
              <div class="col-md-3 mb-3">
                <paper-input type="tel" label="Móvil" id="id_movil" value={{movil::input}}
                             allowed-pattern="[0-9]" maxlength="9" error-message="Rellene este campo" required auto-validate>
                </paper-input>
              </div>
              <div class="col-md-3 mb-3">
                <paper-input type="mail" label="Email" id="id_email" value={{email::input}}
                             error-message="Rellene este campo" required auto-validate>
                </paper-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <!--<address-autocomplete label="Dirección"></address-autocomplete>-->
                <!--<titanium-address-input id="titAddress" label="Dirección" api-key="AIzaSyCTiFwEzAkuXWgFQTr4GGAX5VpYR2aVxzw"
                                        value="{{direccion}}"
                                        error-message="{{errorMessage}}" required auto-validate>
                </titanium-address-input>-->
                <paper-input type="text" label="Dirección" id="id_direccion" value="{{direccion::input}}"
                              error-message="Rellene este campo" required auto-validate>
                </paper-input>
              </div>
              <!--<div class="col-md-2 mb-3">
                <paper-input type="text" label="Resto dirección" value="{{direccion_resto::input}}"
                             error-message="Rellene este campo" required auto-validate>
                </paper-input>
              </div>-->
            </div>

            <div class="row">
              <div class="col-md-2 mb-3 text-center">
                <!--<a href="/finalta-usuario" class="btn btn-success btn-lg btn-block">Alta</a>-->
                <paper-button on-click="updateDatosContacto" class="btn btn-success btn-lg btn-block" raised>Finalizar</paper-button>
              </div>
              <div class="col-md-2 mb-3 text-center">
                <a href="/app/view2" class="btn btn-lg btn-secondary btn-block">Volver</a>
              </div>
            </div>

          </div>
        </div>
      </iron-form>
      </div>
    </div>

    <!--<iron-ajax
      id="doConsultaUsuario"
      url="http://localhost:3000/APIProyectoJCG/v1/usuariosAPP/[[cod_usuario]]/[[token]]"
      handle-as="json"
      on-response="showDatosContactoActuales" />-->

    <iron-ajax
      id="doCambioDatosContacto"
      url="http://localhost:3000/APIProyectoJCG/v1/appJCGUsuarios/datosContacto/[[token]]"
      method="put"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError" />

  </template>

  <script>
    class MyDatosContacto extends Polymer.Element {

      static get is() {
        return 'my-datos-contacto';
      }

      static get properties() {
        return {
          cod_usuario: {
            type: String,
            value: window.sessionStorage.getItem('usuario')
          },
          token: {
            type: String,
            value: window.sessionStorage.getItem('token')
          },
          movil: {
            type: String
          },
          email: {
            type: String
          },
          direccion: {
            type: String
          }
        };
      }

      /*ready() {
        console.log("ready MyDatosContacto");
        super.ready();
        var usuarioLog = window.sessionStorage.getItem('usuario')
        var tokenUsuarioLog = window.sessionStorage.getItem('token');
        if (usuarioLog!=null && usuarioLog!=""){
          console.log("Hay una sesion del usuario "+usuarioLog+" almacenada y token:"+tokenUsuarioLog);
          var consultaUsuarioData ={
            "cod_usuario_Log" : usuarioLog,
            "token_log" : tokenUsuarioLog
          };
          this.$.doConsultaUsuario.body = JSON.stringify(consultaUsuarioData);
          this.$.doConsultaUsuario.generateRequest();
          console.log("Peticion de consulta de usuario enviada");
        }else{
          console.log("No hay sesion");
        }
      }*/

      /*showDatosContactoActuales (data) {
        //console.log("Datos del usuario (Nombre):  "+data.detail.response.nombre);
        //console.log("Datos del usuario (Apellido1):  "+data.detail.response.apellido1);
        //console.log("Datos del usuario (Apellido2):  "+data.detail.response.apellido2);
        this.movil = data.detail.response.movil;
        this.email = data.detail.response.email;
        this.direccion = data.detail.response.direccion;
      }*/

      updateDatosContacto () {
        var usuarioLog = window.sessionStorage.getItem('usuario')
        //console.log("El usuario "+usuarioLog+" va a actualizar sus datos de contacto");
        var movil_new = this.movil;
        var email_new = this.email;
        var dir_new = this.direccion;
        if (movil_new!="" && email_new!="" && dir_new!=""){
          var datosContactoData ={
            "cod_usuario" : usuarioLog,
            "movil" : this.movil,
            "email" : this.email,
            "direccion" : this.direccion
          };
          this.$.doCambioDatosContacto.body = JSON.stringify(datosContactoData);
          this.$.doCambioDatosContacto.generateRequest();
          //console.log("Peticion enviada");
        }else{
          if (movil_new==""){
            this.$.id_movil.focus();
          }else{
            if (email_new==""){
              this.$.id_email.focus();
            }else{
              this.$.id_direccion.focus();
            }
          }
        }
      }

      manageAJAXResponse (data) {
        //console.log("showData");
        //console.log(data.detail.response);
        window.location = "/app/fin-operacion";
      }
      showError (error) {
        //console.log("Hubo error");
        //console.log(error);
      }
  }


    window.customElements.define(MyDatosContacto.is, MyDatosContacto);
  </script>

</dom-module>
