<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-fin-operacion">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">
        <h3 class="mb-4" style="color:green"><b>¡Enhorabuena!</b><br>La operación se ha realizado correctamente</h3>
        <div class="col-md-2 mb-3">
          <a href="/app/view0" class="btn btn-secondary btn-lg btn-block">Inicio</a>
        </div>
      </div>
    </div>
  </template>

  <script>
    class MyFinOperacion extends Polymer.Element {
      static get is() {
        return 'my-fin-operacion';
      }
  }


    window.customElements.define(MyFinOperacion.is, MyFinOperacion);
  </script>
</dom-module>
