<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/titanium-address-input/titanium-address-input.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="my-gestion-claves">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">

        <h4 class="mb-3">Gestione sus claves</h4>

        <iron-form>
          <div class="row">
            <div class="col-md-3 mb-3">
              <paper-input type="password" id="id_clave_acceso_actual" label="Clave de acceso ACTUAL" value="{{clave_acceso_actual::input}}"
                            maxlength="6" allowed-pattern="[a-zA-Z0-9]" error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
            <div class="col-md-4 mb-3">
              <paper-input type="password" id="id_clave_acceso_nueva" label="Clave de acceso NUEVA (max 6 caracteres)" value="{{clave_acceso_nueva::input}}"
                            maxlength="6" allowed-pattern="[a-zA-Z0-9]" error-message="Rellene este campo" required auto-validate>
              </paper-input>
            </div>
          </div>
          <!--<div class="row">
            <div class="col-md-3 mb-3">
              <paper-input type="password" label="Clave de operaciones ACTUAL" value={{clave_acceso_old::input}} required></paper-input>
            </div>
            <div class="col-md-3 mb-3">
              <paper-input type="password" label="Clave de operaciones NUEVA" value={{clave_acceso_old::input}} required></paper-input>
            </div>
          </div>-->

          <br>
          <div class="row" id="errorClaves" style="display:none">
            <div class="col-md-5 mb-3 text-center">
              <span style="color:red;text-align:center;">{{errorMsgClaves}}</span>
              <br><br>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2 mb-3 text-center">
              <!--<a href="/finalta-usuario" class="btn btn-success btn-lg btn-block">Alta</a>-->
              <paper-button on-click="updateClaveAcceso" class="btn btn-success btn-lg btn-block" raised>Finalizar</paper-button>
            </div>
            <div class="col-md-2 mb-3 text-center">
              <a href="/app/view2" class="btn btn-lg btn-secondary btn-block">Volver</a>
            </div>
          </div>

        </iron-form>
      </div>
    </div>

    <iron-ajax
      id="doCambioClave"
      url="http://localhost:3000/APIProyectoJCG/v1/appJCGUsuarios/updateClaveUsuario/[[token]]"
      method="put"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError" />

  </template>

  <script>
    class MyGestionClaves extends Polymer.Element {

      static get is() {
        return 'my-gestion-claves';
      }

      static get properties() {
        return {
          cod_usuario: {
            type: String,
            value: window.sessionStorage.getItem('usuario')
          },
          token: {
            type: String,
            value: window.sessionStorage.getItem('token')
          },
          clave_acceso_actual: {
            type: String
          },
          clave_acceso_nueva: {
            type: String
          },
          errorMsgClaves: {
            type: String
          }
        };
      }

      updateClaveAcceso () {
        var usuarioLog = window.sessionStorage.getItem('usuario')
        //console.log("El usuario "+usuarioLog+" va a cambiar sus claves");
        var pwd_actual = this.$.id_clave_acceso_actual.value;
        var pwd_nueva = this.$.id_clave_acceso_nueva.value;
        if (pwd_actual!="" && pwd_nueva!=""){
          var cambioClaveData ={
            "cod_usuario" : usuarioLog,
            "clave_acceso_actual" : pwd_actual,
            "clave_acceso_nueva" : pwd_nueva
          };
          this.$.doCambioClave.body = JSON.stringify(cambioClaveData);
          this.$.doCambioClave.generateRequest();
          //console.log("Peticion enviada");
        }else{
          if (pwd_actual==""){
            this.$.id_clave_acceso_actual.focus();
          }else{
            this.$.id_clave_acceso_nueva.focus();
          }
        }
      }

      manageAJAXResponse (data) {
        var respuesta = data.detail.response.error;
        //console.log("Respuesta: "+data.detail.response.error);
        if (respuesta == "0"){
          this.$.errorClaves.style.display = "none";
          window.location = "/app/fin-operacion";
        }else{
          this.$.errorClaves.style.display = "block";
          this.errorMsgClaves = data.detail.response.msg;
          this.$.id_clave_acceso_actual.focus();
        }
      }

  }


    window.customElements.define(MyGestionClaves.is, MyGestionClaves);
  </script>

</dom-module>
