<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-movs-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">

        <!--<h4 class="mb-3">Movimientos de la cuenta <b>[[IBAN]]</b> del usuario <b>[[cod_usuario]]</b></h4>-->
        <h4 class="mb-3">Movimientos de la cuenta <b>[[cuenta_sel]]</b></h4>

        <div class="table-responsive">
          <table class="table thead-light">
            <thead class="thead-light">
              <tr>
                <th>Tipo Operación</th>
                <th>Concepto</th>
                <th>Importe</th>
                <th>Divisa</th>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{MovsCuentasUsuario}}">
              <tr>
                <td>[[item.tipo_operacion]]</td>
                <td>[[item.concepto_mov]]</td>
                <td>[[item.importe_mov]]</td>
                <td>[[item.divisa_mov]]</td>
               </tr>
             </template>
           </tbody>
          </table>
        </div>

        <div class="col-md-2 mb-3">
          <a href="/app/view1" class="btn btn-secondary btn-lg btn-block">Volver</a>
        </div>

      </div>
  </div>

  <iron-ajax
    id="doConsultaMovs"
    url="http://localhost:3000/APIProyectoJCG/v1/appJCGMovimientos/[[cod_usuario]]/[[cuenta_sel]]/[[token]]"
    handle-as="json"
    on-response="showMovimientos" />

  </template>

  <script>
    class MyMovsCuenta extends Polymer.Element {
      static get is() {
        return 'my-movs-cuenta';
      }
      static get properties() {
        return {
          cod_usuario: {
            type: String,
            value: window.sessionStorage.getItem('usuario')
          },
          token: {
            type: String,
            value: window.sessionStorage.getItem('token')
          },
          cuenta_sel: {
            type: String,
            value: window.sessionStorage.getItem('cuenta')
          },
          tipo_operacion: {
            type: String
          },
          importe_mov: {
            type: Number
          },
          divisa_mov: {
            type: String
          },
          MovsCuentasUsuario: {
            type: Array
          }
        };
      }

      ready() {
        console.log("ready MyMovsCuenta");
        super.ready();
        var usuarioLog = window.sessionStorage.getItem('usuario');
        var cuentaSel = window.sessionStorage.getItem('cuenta');
        if (usuarioLog!=null && usuarioLog!=""){
          console.log("Hay una sesion del usuario "+usuarioLog+" almacenada");
          var consultaMovsData ={
            "cod_usuario" : usuarioLog, //this.cod_usuario,
            "IBAN" : cuentaSel // this.cuenta_sel
          };
          this.$.doConsultaMovs.body = JSON.stringify(consultaMovsData);
          this.$.doConsultaMovs.generateRequest();
          console.log("Peticion enviada");
        }else{
          console.log("No hay sesion");
        }
      }

      showMovimientos (data) {
        console.log("Listado de movimientos:");
        this.MovsCuentasUsuario = data.detail.response;
      }
    }

    window.customElements.define(MyMovsCuenta.is, MyMovsCuenta);
  </script>
</dom-module>
