<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<dom-module id="my-operacion-cajero">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">

        <h4 class="mb-3">Realice una operación en el cajero</h4>

        <iron-form>
        <div class="row">
          <div class="col-md order-md-1">
            <div class="row">
              <div class="col-md-3 mb-3">
                <paper-dropdown-menu label="Cuenta" id="id_Cuenta" value="{{IBAN}}"
                            error-message="Rellene este campo" required auto-validate>
                  <paper-listbox slot="dropdown-content" selected="0">
                    <template is="dom-repeat" items="{{cuentasUsuario}}">
                      <paper-item>[[item.IBAN]]</paper-item>
                    </template>
                  </paper-listbox>
                </paper-dropdown-menu>
              </div>
              <div class="col-md-2 mb-3">
                <paper-dropdown-menu label="Tipo de Operación" value="{{tipo_operacion}}">
                  <paper-listbox slot="dropdown-content" selected="0">
                    <paper-item>Ingreso</paper-item>
                    <paper-item>Retirada</paper-item>
                  </paper-listbox>
                </paper-dropdown-menu>
              </div>
              <div class="col-md-2 mb-3">
                <paper-input type="date" label="Fecha" id="id_fecha_mov" value={{fecha_mov}}
                          error-message="Rellene este campo" required auto-validate>
                </paper-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <paper-input type="text" label="Concepto" id="id_concepto_mov" value={{concepto_mov::input}}
                          error-message="Rellene este campo" required auto-validate>
                </paper-input>
              </div>
              <div class="col-md-2 mb-3">
                <paper-input type="number" label="Importe" id="id_importe_mov" value={{importe_mov::input}}
                          error-message="Rellene este campo" required auto-validate>
                </paper-input>
              </div>
              <div class="col-md-2 mb-3">
                <paper-input type="text" label="Divisa" value={{divisa_mov}} readonly>
                </paper-input>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 mb-3">
                <paper-button on-click="realizarOperacionCajero" class="btn btn-success btn-lg btn-block">Finalizar</paper-button>
                <!--<a href="/fin-operacion" class="btn btn-success btn-lg btn-block">Ingresar</a>-->
              </div>
              <div class="col-md-2 mb-3">
                <a href="/app/view4" class="btn btn-secondary btn-lg btn-block">Volver</a>
              </div>
            </div>
          </div>
        </div>
        </iron-form>

      </div>
    </div>

    <iron-ajax
      id="doConsultaCuentas"
      url="http://localhost:3000/APIProyectoJCG/v1/appJCGCuentas/[[cod_usuario]]/[[token]]"
      handle-as="json"
      on-response="showCuentas" />

    <iron-ajax
      id="doOperacionCajero"
      url="http://localhost:3000/APIProyectoJCG/v1/appJCGMovimientos/operacionCajero/[[token]]"
      method="post"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError" />

  </template>

  <script>
    class MyOperacionCajero extends Polymer.Element {
      static get is() {
        return 'my-operacion-cajero';
      }
      static get properties() {
        return {
          cod_usuario: {
            type: String,
            value: window.sessionStorage.getItem('usuario')
          },
          token: {
            type: String,
            value: window.sessionStorage.getItem('token')
          },
          IBAN: {
            type: String
          },
          tipo_operacion: {
            type: String
          },
          fecha_mov: {
            type: Date
          },
          concepto_mov: {
            type: String
          },
          importe_mov: {
            type: String
          },
          divisa_mov: {
            type: String,
            value: 'Euros'
          },
          cuentasUsuario: {
            type: Array
          }
        };
      }

      ready() {
        //console.log("ready MyOperacionCajero");
        super.ready();
        var usuarioLog = window.sessionStorage.getItem('usuario')
        var tokenUsuarioLog = window.sessionStorage.getItem('token');
        if (usuarioLog!=null && usuarioLog!=""){
          //console.log("Hay una sesion del usuario "+usuarioLog+" almacenada");
          var consultaCtasData ={
            "cod_usuario" : usuarioLog,
            "token_log" : tokenUsuarioLog
          };
          this.$.doConsultaCuentas.body = JSON.stringify(consultaCtasData);
          this.$.doConsultaCuentas.generateRequest();
          //console.log("Peticion enviada");
        }else{
          //console.log("No hay sesion");
        }
      }

      showCuentas (data) {
        //console.log("Listado de cuentas");
        this.cuentasUsuario = data.detail.response;
      }

      realizarOperacionCajero () {
        var usuarioLog = window.sessionStorage.getItem('usuario')
        //console.log("El usuario "+usuarioLog+" va a realizar una operacion en el cajero");
        var cuenta_new = this.$.id_Cuenta.value;
        var fecha_new = this.$.id_fecha_mov.value;
        var concepto_new = this.$.id_concepto_mov.value;
        var importe_new = this.$.id_importe_mov.value;
        if (cuenta_new!="" && fecha_new!="" && concepto_new!="" && importe_new!=""){
          var realizarOperacionCajeroData ={
            "cod_usuario" : usuarioLog,
            "IBAN" : this.IBAN,
            "tipo_operacion" : this.tipo_operacion,
            "fecha_mov" : this.fecha_mov,
            "concepto_mov" : this.concepto_mov,
            "importe_mov" : this.importe_mov,
            "divisa_mov" : this.divisa_mov
          };
          this.$.doOperacionCajero.body = JSON.stringify(realizarOperacionCajeroData);
          this.$.doOperacionCajero.generateRequest();
          //console.log("Peticion enviada");
        }else{
          if (cuenta_new==""){
            this.$.id_Cuenta.focus();
          }else{
            if (fecha_new==""){
              this.$.id_fecha_mov.focus();
            }else{
              if (concepto_new==""){
                this.$.id_concepto_mov.focus();
              }else{
                this.$.id_importe_mov.focus();
              }
            }
          }
        }
      }

      manageAJAXResponse (data) {
        //console.log("showData");
        //console.log(data.detail.response);
        window.location = "/app/fin-operacion";
      }
      showError (error) {
        //console.log("Hubo error");
        //console.log(error);
      }
    }

    window.customElements.define(MyOperacionCajero.is, MyOperacionCajero);
  </script>
</dom-module>
