<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-view0">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <div class="container-fluid">
      <div class="card">

        <h4 class="mb-3">Funcionalidades de TechU-JCG App</h4>
        <ul>
          <li><b>Consultar</b></li>
          <ul>
            <li>Consulte el estado de sus cuentas</li>
            <li>Consulte los movimientos de sus cuentas</li>
          </ul>
          <li><b>Operar</b></li>
          <ul>
            <li>Realice una operación desde un cajero
              <br>  - Ingreso o Retirada de efectivo
            </li>
            <li>Realice un envio de dinero
              <br>  - Traspaso entre sus cuentas
              <br>  - Transferencia a otra cuenta
            </li>
          </ul>
          <li><b>Contratar</b></li>
          <ul>
            <li>Contrate una nueva cuenta</li>
            <li>Elimine una de sus cuentas</li>
          </ul>
          <li><b>Perfil del usuario</b></li>
          <ul>
            <li>Actualice sus datos de contacto</li>
            <li>Gestione sus claves personales</li>
          </ul>
          <li><b>Divisas</b></li>
          <ul>
            <li>Utilice el conversor entre diferentes divisas</li>
          </ul>
        </ul>

      </div>
    </div>

  </template>

  <script>
    class MyView0 extends Polymer.Element {
      static get is() {
        return 'my-view0';
      }
      static get properties() {
        return {
          cod_usuario: {
            type: String
          }
        };
      }
    }

    window.customElements.define(MyView0.is, MyView0);
  </script>
  <!--
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  -->
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</dom-module>
