<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-view5">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">

        <h4 class="mb-3">Seleccione la divisa que desea cambiar:</h4>

        <div class="row">
          <div class="col-md-3 mb-3">
            <paper-input type="text" label="Cantidad Moneda Origen" id="id_cantidad_origen" value="{{cantidadOrigen::input}}"
                  on-change="ocultarResultado"
                  allowed-pattern="[0-9]" error-message="Rellene este campo" required auto-validate>
            </paper-input>
          </div>
          <div class="col-md-2 mb-3">
            <paper-input type="text" label="Moneda Origen" id="id_divisa_origen" value="{{divisaOrigen}}" readonly></paper-input>
          </div>
          <div class="col-md-2 mb-3">
            <paper-dropdown-menu label="Moneda Destino" id="id_divisa_destino" value="{{divisaDestino}}"
            on-change="ocultarResultado"
                        error-message="Rellene este campo" required auto-validate>
              <paper-listbox slot="dropdown-content" selected="0">
                <template is="dom-repeat" items="{{divisas}}">
                  <paper-item>[[item.to]]</paper-item>
                </template>
              </paper-listbox>
            </paper-dropdown-menu>
          </div>
        </div>
        <div class="row" id="mensajeCambioDivisa" style="display:none">
          <div class="col-md-6 mb-3">
            <h4 style="color:green;text-align:center;">
                Resultado: {{cantidadOrigen}} {{divisaOrigen}} = {{cantidadDestino}} {{divisaDestino}}
                <!--<a href="/app/view5" class="btn btn-secondary btn-lg btn-block">Resetear</a>-->
            </h4>
            <br><br>
          </div>
        </div>
        <div class="row" id="botonCambioDivisa">
          <div class="col-md-2 mb-3">
            <paper-button on-click="realizarCambioDivisa" class="btn btn-success btn-lg btn-block">Finalizar</paper-button>
          </div>
        </div>

      </div>
    </div>

    <iron-ajax
      id="doConsultaDivisas"
      url="http://localhost:3000/APIProyectoJCG/v1/divisas"
      handle-as="json"
      on-response="showDivisas" />

      <iron-ajax
        id="doCambioDivisa"
        url="http://localhost:3000/APIProyectoJCG/v1/cambio"
        method="post"
        content-type="application/json"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError" />

  </template>

  <script>
    class MyView5 extends Polymer.Element {
      static get is() {
        return 'my-view5';
      }

      static get properties() {
        return {
          divisas: {
              type: Array
          },
          cantidadOrigen: {
              type: String
          },
          divisaOrigen: {
              type: String,
              value: 'EUR'
          },
          cantidadDestino: {
              type: String
          },
          divisaDestino: {
              type: String
          }
        };
      }

      ready() {
        //console.log("ready MyView5");
        super.ready();
        var usuarioLog = window.sessionStorage.getItem('usuario')
        if (usuarioLog!=null && usuarioLog!=""){
          //console.log("Hay una sesion del usuario "+usuarioLog+" almacenada");
          this.$.doConsultaDivisas.generateRequest();
          //console.log("Peticion enviada");
        }else{
          //console.log("No hay sesion");
        }
      }

      showDivisas (data) {
        //console.log("Listado de divisas");
        //console.log(data.detail.response.result.conversion);
        this.divisas = data.detail.response.result.conversion;
      }

      ocultarResultado(){
        this.$.mensajeCambioDivisa.style.display = "none";
      }

      realizarCambioDivisa () {
        var usuarioLog = window.sessionStorage.getItem('usuario')
        //console.log("El usuario "+usuarioLog+" va a realizar una operacion en el cajero");

        var cantidad_origen_new = this.$.id_cantidad_origen.value;
        var divisa_origen_new = this.$.id_divisa_origen.value;
        var divisa_destino_new = this.$.id_divisa_destino.value;

        var realizarCambioDivisaData ={
            "quantity" : cantidad_origen_new,
            "divisa_Origen" : divisa_origen_new,
            "divisa_Destino" : divisa_destino_new
        };
        this.$.doCambioDivisa.body = JSON.stringify(realizarCambioDivisaData);
        this.$.doCambioDivisa.generateRequest();
        //console.log("Peticion enviada");
      }

      manageAJAXResponse (data) {
        //console.log("showData");
        var respuesta = data.detail.response.status;
        //console.log("Respuesta: "+respuesta);
        if (respuesta == "OK"){
          //console.log(data.detail.response.result);
          //console.log(data.detail.response.body.result.amount);
          this.$.mensajeCambioDivisa.style.display = "block";
          //this.$.botonCambioDivisa.style.display = "none";
          this.cantidadDestino = data.detail.response.result.amount;
        }
      }

      showError (error) {
        //console.log("Hubo error");
        //console.log(error);
      }
    }

    window.customElements.define(MyView5.is, MyView5);
  </script>
</dom-module>
