<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">

        <h4 class="mb-3">Posición Global</h4>

        <div class="table-responsive">
          <table class="table table-hover thead-light">
            <thead class="thead-light">
              <tr>
                <th>Banco</th>
                <th>IBAN</th>
                <th>Tipo Cuenta</th>
                <th>Saldo</th>
                <th>Divisa</th>
              </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{cuentasUsuario}}">
              <tr>
                <td>[[item.banco_Cuenta]]</td>
                <td>
                  <!--<a name="enlace" href="movs-cuenta" data-toggle="tooltip" data-placement="top" title="Pinche para ver los movimientos">[[item.IBAN]]</a>-->
                  <paper-button on-click="sendEvent" data-toggle="tooltip" data-placement="top" title="Pinche para ver los movimientos"
                                class="btn btn-link btn-lg btn-block">[[item.IBAN]]
                  </paper-button>
                </td>
                <td>[[item.tipo_Cuenta]]</td>
                <td>[[item.saldo_Cuenta]]</td>
                <td>[[item.divisa_Cuenta]]</td>
               </tr>
             </template>
           </tbody>
          </table>
        </div>
        <!--<div class="row">
          <div class="col-md-10 mb-3">
            <p>Pinche en el IBAN de cada cuenta para consultar sus movimientos</p>
            <paper-button on-click="consultarMovs" class="btn btn-success btn-lg btn-block">Consultar Movimientos</paper-button>
          </div>
        </div>-->

      </div>
  </div>

  <iron-ajax
    id="doConsultaCuentas"
    url="http://localhost:3000/APIProyectoJCG/v1/appJCGCuentas/[[cod_usuario]]/[[token]]"
    handle-as="json"
    on-response="showCuentas" />

  <!--<iron-ajax
    id="doConsultaMovs"
    url="http://localhost:3000/APIProyectoJCG/v1/movimientos"
    method="post"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError" />-->

  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() {
        return 'my-view1';
      }

      static get properties() {
        return {
          cod_usuario: {
            type: String,
            value: window.sessionStorage.getItem('usuario')
          },
          token: {
            type: String,
            value: window.sessionStorage.getItem('token')
          },
          banco_Cuenta: {
            type: String
          },
          tipo_Cuenta: {
            type: String
          },
          IBAN: {
            type: String
          },
          divisa_Cuenta: {
            type: String
          },
          saldo_Cuenta: {
            type: Number
          },
          cuentasUsuario: {
            type: Array
          },
          saldo_Total: {
            type: Number
          }
        };
      }

      ready() {
        super.ready();
        //console.log("ready MyView1");
        //console.log("cuentasUsuarios "+this.cuentasUsuario);
        var usuarioLog = window.sessionStorage.getItem('usuario')
        var tokenUsuarioLog = window.sessionStorage.getItem('token');
        window.sessionStorage.setItem('cuenta','');
        if (usuarioLog!=null && usuarioLog!=""){
          //console.log("Hay una sesion del usuario "+usuarioLog+" almacenada");
          var consultaCtasData ={
            "cod_usuario" : usuarioLog,
            "token_log" : tokenUsuarioLog
          };
          this.$.doConsultaCuentas.body = JSON.stringify(consultaCtasData);
          this.$.doConsultaCuentas.generateRequest();
          //console.log("Peticion enviada");
        }else{
          //console.log("No hay sesion");
        }
      }

      showCuentas (data) {
        //console.log("Listado de cuentas");
        this.cuentasUsuario = data.detail.response;
      }

      sendEvent (e) {
        //console.log("Consulta los movimientos de una cuenta");
        //console.log(e);
        //console.log(e.model);
        //console.log(e.model.__data);
        this.dispatchEvent(
          new CustomEvent(
              "myevent",
              {
                "detail" : {
                  "cuenta_sel" : e.model.__data.item.IBAN
                }
              }
          )
        );
      }
      /*consultarMovs () {
        var usuarioLog = window.sessionStorage.getItem('usuario')
        console.log("El usuario "+usuarioLog+" va a consultar los movimientos de la cuenta");
        var consultaMovsData ={
          "cod_usuario" : usuarioLog, //this.cod_usuario,
          "IBAN" : 'ES1234' //this.IBAN
        };
        this.$.doConsultaMovs.body = JSON.stringify(consultaMovsData);
        this.$.doConsultaMovs.generateRequest();
        console.log("Peticion enviada");
      }

      manageAJAXResponse (data) {
        console.log("Listado de movimientos:");
        console.log(data.detail.response);
        window.location = "movs-cuenta";
      }

      showError (error) {
        console.log("Hubo error");
        console.log(error);
      }*/
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</dom-module>
