<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="container-fluid">
      <div class="card">

        <h4 class="mb-3">Seleccione la información que desea actualizar:</h4>
        <div class="row">
          <div class="col-md-3 mb-3 text-center">
            <a href="/app/datos-contacto" class="btn btn-lg btn-primary btn-block">Datos Contacto</a>
          </div>
          <div class="col-md-3 mb-3 text-center">
            <a href="/app/gestion-claves" class="btn btn-lg btn-primary btn-block">Claves</a>
          </div>
        </div>
      </div>
    </div>

  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() {
        return 'my-view2';
      }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
